In [ ]:
import pandas as pd
import numpy as np
import sklearn.tree as tree
import sklearn.model_selection as ms 
import sklearn.ensemble as ens 
import sklearn.metrics as met 
rf = ens.RandomForestClassifier(n_estimators=100) # akan membuat model dengan 100 buah Decision Tree ("estimator")
df1 = pd.read_csv("adult_data.csv")

In [ ]:
df1.head(10)

,age,workclass,fnlwft,education,education_num,marital_status,occupation,relationship,race,sex,capital gain,capital loss,hours-per-week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.0,0.0,40.0,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0.0,0.0,16.0,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,45.0,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084.0,0.0,50.0,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178.0,0.0,40.0,United-States,>50K

In [ ]:
df1.describe()

,age,fnlwft,education_num,capital gain,capital loss,hours-per-week
count,28846.000000,2.884600e+04,28846.000000,28845.000000,28845.000000,28845.000000
mean,38.603966,1.897850e+05,10.077480,1099.814977,86.872456,40.417091
std,13.666731,1.052719e+05,2.573798,7548.303627,402.247365,12.300820
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.179312e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.784490e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.369688e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [ ]:
df1.dropna(inplace=True)

Mengubah data nominal (berupa kategori) ke bentuk continuous (numerik). Caranya dengan menggunakan fungsi LabelEncoder()

In [ ]:
import sklearn.preprocessing as prep
gender = prep.LabelEncoder()
gender.fit(df1['sex'])
df1['sex_code'] = gender.transform(df1['sex'])
df1[['sex', 'sex_code']].head(5)

      sex  sex_code
0    Male         1
1    Male         1
2    Male         1
3    Male         1
4  Female         0

In [ ]:
education = prep.LabelEncoder()
education.fit(df1['education'])
df1['education_code'] = education.transform(df1['education'])

race = prep.LabelEncoder()
race.fit(df1['race'])
df1['race_code'] = race.transform(df1['race'])

workclass = prep.LabelEncoder()
workclass.fit(df1['workclass'])
df1['workclass_code'] = workclass.transform(df1['workclass'])

occupation = prep.LabelEncoder()
occupation.fit(df1['occupation'])
df1['occupation_code'] = occupation.transform(df1['occupation'])

relationship = prep.LabelEncoder()
relationship.fit(df1['relationship'])
df1['relationship_code'] = relationship.transform(df1['relationship'])

native_country = prep.LabelEncoder()
native_country.fit(df1['native_country'])
df1['native_country_code'] = native_country.transform(df1['native_country'])

In [ ]:
x = df1.drop(['fnlwft', 'workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country', 'income'], axis = 1)
y = df1['income']

In [ ]:
x_train, x_test, y_train, y_test = ms.train_test_split(x,y, test_size=0.2)

In [ ]:
rf.fit(x_train, y_train)
y_prediksi = rf.predict(x_test)
print('akurasi = ', met.accuracy_score(y_test, y_prediksi))
print(met.classification_report(y_test, y_prediksi))
print(rf.feature_importances_)

akurasi =  0.8450338013520541
              precision    recall  f1-score   support

       <=50K       0.88      0.92      0.90      4340
        >50K       0.71      0.62      0.67      1429

    accuracy                           0.85      5769
   macro avg       0.80      0.77      0.78      5769
weighted avg       0.84      0.85      0.84      5769

[0.2235093  0.09538392 0.13105245 0.04070101 0.1127767  0.01468268
 0.03606453 0.01885749 0.05308388 0.09067559 0.16192044 0.02129201]